/* TABLET */
@media screen and (max-width:768px) {
    /* HEADER */
    header .main-col > ul {
        display: none;
    }

    header .main-col > .icon-menu {
        display: block;
    }

    /* SEZIONE 1 */
    .container {
        max-width: 768px;
        width: 100%;
    }

    .introduction .main.card {
        flex-direction: column;
    }

    .introduction .col {
        width: 100%;
    }

    /* SEZIONE 2 */
    .features .col {
        width: 100%;
    }

        .features .features-col-content {
            width: 100%;
            margin-top: 1rem;
        }

    /* SEZIONE 4 */
    .benefits .row .card {
        width: calc(100% / 2 - 10px);
    }
}


/* MOBILE */
@media screen and (max-width:480px) {
    /* SEZIONE 1 */
    .container {
        max-width: 480px;
        width: 100%;
    }

    .introduction > .container.row {
        flex-direction: column;
    }

    .introduction .main.card,
    .introduction .card,
    .introduction .col {
        width: 100%;
    }

    .introduction .main.card {
        flex-direction: column;
    }

    /* SEZIONE 4 */
    .benefits .row {
        flex-direction: column;
    }

    .benefits .row .card {
        width: 100%;
    }

    /* SEZIONE 5 */
    .about-us .row {
        flex-direction: column;
    }

    .about-us .main-col,
    .about-us .side-col {
        width: 100%;
    }
}