/* TABLET */
@media screen and (max-width:768px) {
    /* SEZIONE 1 */
    .container {
        max-width: 768px;
        width: 100%;
    }

    /* SEZIONE 2 */
    .purple .col {
        width: 100%;
    }
}


/* MOBILE */
@media screen and (max-width:480px) {
    /* SEZIONE 1 */
    .container {
        max-width: 480px;
        width: 100%;
    }

    .introduction > .container.row {
        flex-direction: column;
    }

    .introduction .main.card,
    .introduction .card {
        width: 100%;
    }
}