/* HEADER */

header {
    height: 5rem;
    background-color: #0084FD;
}

header .nav-col {
    width: 50%;
    /* debug */
    border: 3px dashed black;
    height: 5rem;
}

/* MAIN */

/* SEZIONE 1 */
.introduction .row {
    padding: 2rem;
    row-gap: 20px;
    column-gap: 10px;
}

.introduction .card {
    background-color: #b5ddff;
}

.introduction .main.card {
    width: calc(100% / 3*2 - 10px);
    display: flex;
}

/* SEZIONE 2 */
.purple {
    background-color: #9792E4;
    padding: 3rem 0;
}

/* debug */
.purple .col {
    height: 25rem;
}

/* SEZIONE 3 */
.testimonials {
    padding: 3rem 0;
}

.testimonials .text-center {
    /* debug */
    border: 2px dashed black;
    height: 15rem;
}

.testimonials .box {
    background-color: #9792E4;
    border-radius: 15px;
    margin: 2rem 0;
    /* debug */
    height: 10rem;
}

/* SEZIONE 4 */
.benefits {
    background-color: #9792E4;
}

.benefits .text-center {
    /* debug */
    border: 2px dashed black;
    height: 5rem;
}

.benefits .row {
    gap: 10px;
    padding: 2rem 0;
}

.benefits .card {
    background-color: #FFF;
}

/* SEZIONE 5 */
.about-us .row {
    padding: 2rem 0;
}

.about-us .main-col {
    width: 80%;
    /* debug */
    border: 2px dashed black;
    height: 20rem;
}

.about-us .side-col {
    width: 20%;
    /* debug */
    border: 2px dashed black;
    height: 20rem;
}



