/* HEADER */

header {
    height: 5rem;
    background-color: #0084FD;
}

header .nav-col {
    width: 50%;
    /* debug */
    border: 3px dashed black;
    height: 5rem;
}

/* MAIN */

/* SEZIONE 1 */
.introduction .row {
    padding: 2rem;
    row-gap: 20px;
    column-gap: 10px;
}

.introduction .card {
    width: calc(100% / 3 - 10px);
    background-color: #b5ddff;
    /* debug */
    height: 15rem;
    border-radius: 20px;
}

.introduction .main.card {
    width: calc(100% / 3*2 - 10px);
    display: flex;
}

/* SEZIONE 2 */
.purple {
    background-color: #9792E4;
    padding: 3rem 0;
}

/* debug */
.purple .col {
    height: 25rem;
}

/* SEZIONE 3 */
.testimonials {
    padding: 3rem 0;
}

.testimonials .text-center {
    /* debug */
    border: 2px dashed black;
    height: 15rem;
}

.testimonials .box {
    background-color: #9792E4;
    border-radius: 15px;
    margin: 2rem 0;
    /* debug */
    height: 10rem;
}



