/* GENERICS */
body {
    font-family: 'Nunito Sans', sans-serif;
}

/* HEADER */
header {
    height: 5rem;
    background-color: #0084FD;
}

header .main-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5rem;
}

header .side-col {
    display: flex;
    align-items: center;
    height: 5rem;
}

header .main-col ul > li {
    display: inline-block;
    margin: 0 1rem;
}

header li > a {
    text-decoration: none;
    color: white;
}

header .icon-menu {
    display: none;
    color: white;
    font-size: 1.2rem;
}

/* MAIN */

/* SEZIONE 1 - INTRODUCTION */
.introduction .row {
    padding: 2rem;
    row-gap: 20px;
    column-gap: 10px;
}

.introduction .card {
    background-color: #b5ddff;
}

.introduction .main.card {
    width: calc(100% / 3*2 - 10px);
    display: flex;
}

/* SEZIONE 2 - FEATURES */
.features {
    background-color: #9792E4;
    padding: 3rem 0;
}

/* debug */
.features .col {
    height: 25rem;
}

/* SEZIONE 3 - TESTIMONIALS */
.testimonials {
    padding: 3rem 0;
}

.testimonials .text-center {
    /* debug */
    border: 2px dashed black;
    height: 15rem;
}

.testimonials .box {
    background-color: #9792E4;
    border-radius: 15px;
    margin: 2rem 0;
    /* debug */
    height: 10rem;
}

/* SEZIONE 4 - BENEFITS */
.benefits {
    background-color: #9792E4;
}

.benefits .text-center {
    /* debug */
    border: 2px dashed black;
    height: 5rem;
}

.benefits .row {
    gap: 10px;
    padding: 2rem 0;
}

.benefits .card {
    background-color: #FFF;
}

/* SEZIONE 5 - ABOUT US */
.about-us .row {
    padding: 2rem 0;
}

.about-us .main-col {
    /* debug */
    border: 2px dashed black;
    height: 20rem;
}

.about-us .side-col {
    /* debug */
    border: 2px dashed black;
    height: 20rem;
}

/* SEZIONE 6 - START */
.start {
    background-color: #9792E4;
    /* debug */
    height: 25rem;
}

/* FOOTER */
footer {
    background-color: #333;
    /* debug */
    height: 15rem;
}


